<html>
  <head>
      <title>Gifmgur</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
  <body>
      <div class="ui fixed menu">
          <div class="ui container">
              <div class="header item"><i class="photo icon"></i>Gifmgur</div>
              <a href="/" class="item">Home</a>
              <a href="/gfycat/new" class="item">New Image</a>
            </div>

      </div>
